/*.root { -fx-font-size: 12px;
 }*/
#main-app-body{
 -fx-background-color:#8b8e95;
     -fx-border-color:#3e4a32;
  -fx-border-width:7px;
}
#main-app-header{
 -fx-background-color:#8b8e95;
 -fx-border-color:#3e4a32;
 -fx-border-width:7px;
}
.header-butt{
    -fx-background-color:#333333;
    -fx-text-fill:#efefef;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-padding: 5 10 5 10;
    -fx-border-radius:30;
    -fx-border-width:3px;
}
.code-box-setting{
    -fx-border-color:black;
    -fx-background-color:white;
     -fx-background-radius: 30;
    -fx-border-radius:30;
    -fx-border-width:3px;
}
.button{
  -fx-background-radius: 30;
    -fx-text-fill:#efefef;
    -fx-border-color:black;
    -fx-background-color:#333333;
    -fx-border-radius:30;
}
#information{
    -fx-background-radius: 10;
     -fx-border-radius:10;
      -fx-background-color:#bec0b2;
}
.title{
    -fx-background-radius: 0;
    -fx-border-color:black;
     -fx-border-radius:0;
      -fx-background-color:#bec0b2;
      -fx-text-fill:#333333;
}
.keyboard-space{
     -fx-background-color:#ffffff;
      -fx-border-color:black;
}

.keyboard{
   -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 50%;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;

    -fx-border-color:white;
    -fx-border-radius:50%;
    -fx-border-width:2px;


}

/*pressed keyboard*/
#pressed-key{
     -fx-border-color:yellow;
     -fx-text-fill: yellow;
}

#error-tool-tip{
    -fx-background-color:#d9534f ;

}

#error-text-field{
    -fx-border-color:#d9534f ;
     -fx-border-width:2px;
}


#load-button{
    -fx-background-color: #678f6c;
    -fx-text-fill: #f7f7f7;
     -fx-background-radius: 0%;
    -fx-border-radius:0%;
    -fx-border-color:#1a1a1a ;
    -fx-border-width:1px;

}
#load-button:hover{

-fx-border-width:3px;

}

#path{
   -fx-background-radius: 0%;
   -fx-text-fill: #1a1a1a;
   -fx-border-color:#1a1a1a ;
   -fx-border-width:1px;
}

.button:hover{
-fx-border-width:2px;
-fx-border-color:#696969;
}

.candidate{
-fx-font-weight:900;

}
#candidate-text{
    -fx-text-fill:white;
}




.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #bea042;
}

.table-row-cell:odd{

    -fx-background-color: #bec0f2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: ##bec002;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}





.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}



.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}








